@model IEnumerable<GigNow.Models.ListenerNotification>
@{ Layout = null;}
<div >
    <div  id="inbox"><h2 style="color:white">Notifications<sup style="color: orangered">@Model.Count()</sup></h2></div>
    <div style="font-size:large">
        <ul id="notifications" style="display:none">
            @foreach (var item in Model)
            {
                <li>@Html.DisplayFor(modelItem => item.message)<text> </text>@Html.ActionLink("View Gig", "MarkAsRead", "ListenerNotifications", new { listenerNotificationId = item.ListenerNotificationId }, null)</li>
            }
        </ul>
    </div>
    
    @*<script src="~/Scripts/ClickForInBox.js"></script>*@
</div>


