@using Microsoft.AspNet.Identity
@model IEnumerable<GigNow.Models.ListenerNotification>
@{ Layout = null;}
<div >
    <div id="inbox"><h1 style="color: orangered">@User.Identity.GetUserName()<sup style="color: white">@Model.Count()</sup></h1></div>
    <div style="font-size:large">
        <ul id="notifications" style="display:none">
            @foreach (var item in Model)
            {
                <li>@Html.DisplayFor(modelItem => item.message)<text> </text>@Html.ActionLink("View Gig", "MarkAsRead", "ListenerNotifications", new { listenerNotificationId = item.ListenerNotificationId }, null)</li>
            }
        </ul>
    </div>
    
    @*<script src="~/Scripts/ClickForInBox.js"></script>*@
</div>


