@{
    ViewBag.Title = "About";
}






<div class="jumbotron">
    <h1>About Gig:Now</h1>
    <h3>Gig:Now is all about making gigs happen: Now. <br />Gig:Now facilitates streamlined communicaations between Artists and Venues to create fast and painless booking experiences.</h3>
    <div class="row">
        @*<div class="col-md-1"></div>*@
        <div class="col-md-4"style="text-align:center">
            <h2>Artists</h2>
            <p>Create streamlined profiles to be viewed by Venues and Listeners. Through the use of BandCamp Player, Viewers can stream your songs straight from  your profile</p>
        </div>
        @*<div class="col-md-2"></div>*@
        <div class="col-md-4"style="text-align:center">
            <h2>Listeners</h2>
            <p>Search the site as guests to find Gigs, Artists, and Venues in their area, and can create Listener profiles to recieve automated notifications based on their taste preferences</p>
        </div>
        @*<div class="col-md-2"></div>*@
        <div class="col-md-4"style="text-align:center">
            <h2>Venues</h2>
            <p>Communicate directly with Artists through Gig:Now to book gigs in as little one round of automated messaging.</p>
        </div>
        @*<div class="col-md-1"></div>*@
    </div>
    <div style="text-align:center">
        <h3>@Html.ActionLink("Sign up Today", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</h3>
    </div>
    
</div>