@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gig:Now</h1>
    <h2>Connecting Talent with Opportunity</h2>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.Action("Search","Gigs")
    </div>

    <div class="col-md-4">
        @Html.Action("Search", "Artists")
    </div>

    <div class="col-md-4">
        @Html.Action("Search", "Venues")
    </div>
</div>